


<GridLayout class="drawer-header">
</GridLayout>
                
<StackLayout class="drawer-links" orientation="vertical"  horizontalAlignment="right" style="direction: rtl">
    <FlexboxLayout  flexDirection="row-reverse" class="drawer-link"
                 orientation="horizontal"
                 [nsRouterLink]="['/home']"
                 >
        <Label class="fa" text="{{'fa-home' | fonticon}}"></Label>
                 
        <Label class="text" text="صفحه اصلی" margin-right="50"></Label>
  
    </FlexboxLayout >
        <FlexboxLayout  flexDirection="row-reverse" class="drawer-link"
                 orientation="horizontal"
                 [nsRouterLink]="['/file']">
        <Label class="fa" text="{{'fa-file' | fonticon}}"></Label>
                 
        <Label class="text" text="کار با فایل" margin-right="50"></Label>
    </FlexboxLayout >
 
 
    <StackLayout class="drawer-link"
                 orientation="horizontal"
                 [nsRouterLink]="['/todo']">
        <Label class="fa" text="{{'fa-check-square-o' | fonticon}}"></Label>
        <Label class="text" text="ToDo List"></Label>
    </StackLayout>
    <StackLayout class="drawer-separator">
    </StackLayout>
    <StackLayout class="drawer-link"
                 orientation="horizontal"
                 [nsRouterLink]="['/settings']"
                 pageTransition="explode">
        <Label class="fa" text="{{'fa-cogs' | fonticon}}"></Label>
        <Label class="text" text="Settings"></Label>
    </StackLayout>
</StackLayout>
