        <ActionBar title="dsd">
    <ActionItem text="left item" ios.position="left"></ActionItem>
    <ActionItem text="دیالوک معمولی" ios.position="right" android.position="popup" (tap)="menu1()"></ActionItem>
    <ActionItem text="دیالوگ کاستوم" ios.position="right" android.position="popup" (tap)="menu2()"></ActionItem>
    <ActionItem text="Item3" ios.position="right" android.position="popup"></ActionItem>
    <ActionItem>
        <Label class="m-5" text="Back if in't first page'" color="#8C489F" (tap)="goBack()"></Label>
    </ActionItem>
    <!--https://docs.nativescript.org/angular/code-samples/ui/action-bar.html-->
    <ActionItem ios.systemIcon="12" android.systemIcon="ic_menu_search"></ActionItem>
    <ActionItem ios.systemIcon="13" android.systemIcon="ic_menu_camera"></ActionItem>
    <ActionItem ios.systemIcon="7" android.systemIcon="ic_menu_call"></ActionItem>
    <ActionItem icon="res://ic_menu" (tap)="toggle()"></ActionItem>

    <!--<StackLayout orientation="horizontal"
    ios:horizontalAlignment="center"    android:horizontalAlignment="right">
    <Label text="کامپوننت های من"  class="action-label"></Label>

  </StackLayout>-->
    <NavigationButton  text="Menu" icon="res://ic_menu" (tap)="toggle()"></NavigationButton>

</ActionBar>
<RadSideDrawer #drawerComponent tkToggleNavButton drawerLocation="right">
    <ScrollView tkDrawerContent class="drawer-content">
        <StackLayout horizzontalAlign="left">
            <drawer-content></drawer-content>
        </StackLayout>
    </ScrollView>
    <StackLayout tkMainContent padding="20">
        
        <Label text="فونت بولد ایرانسنس" class="PersianBold"></Label>
        <Label text="فونت لایت ایرانسنس" class="PersianLight"></Label>
        <Label text="محل قراردادن فونت : /app/fonts"></Label>
        <Button text="باز و بسته کردن دراور" (tap)="OpenDrawer()"></Button>


        <!-- >> scroll-view-horizontal-html -->
        <ScrollView orientation="horizontal" height="200" #slider (loaded)="removeScrollbar()">
            <StackLayout orientation="horizontal">
                <Button width="400" class="Box1" text="Title 1"></Button >
                <Button  width="500" class="Box2" text="Title 2"></Button >
                <Button  width="500" backgroundColor="green" text="Title 3"></Button >
                <Button  width="500" backgroundColor="black" color="white" text="Title 4"></Button >
                <Button  width="500" backgroundColor="blue" color="yellow" text="Title 5"></Button >
            </StackLayout >
        </ScrollView>
        <!-- << scroll-view-horizontal-html -->
        <AbsoluteLayout>
            <GridLayout width="100%" columns="*">
                     <label class="{{currentSlide==1 ? 'animateVisible' : 'animateHide'}}" style="background-color:darkblue;
                        height:200;color:white;font-size: 20;
                        text-align:center;" text="اسلاید1"></label>
           <label class="{{currentSlide==2 ? 'animateVisible' : 'animateHide'}}" style="background-color:darkgreen;
                        height:200;color:white;font-size: 20;
                        text-align:center" text="اسلاید2"></label>
           <label class="{{currentSlide==3 ? 'animateVisible' : 'animateHide'}}" style="background-color:darkred;
                        height:200;color:white;font-size: 20;
                        text-align:center" text="اسلاید3"></label>
            </GridLayout>

       <GridLayout width="100%" height="200" rows="*" columns="*, *" verticalAlignment="center">
          <button text="<" row="0" col="0"  (tap)="tap('prev')" backgroundColor="white" horizontalAlignment="left" style="opacity:.2"></button>
                <button text=">" row="0" col="1" (tap)="tap('next')" backgroundColor="white" horizontalAlignment="right" style="opacity:.2"></button>
                </GridLayout>
                </AbsoluteLayout>
                <StackLayout>
                    <ListView [items]="source" (loaded)="onLoaded(event)" (itemLoading)="onItemLoading(event)" (itemTap)="onItemTap($event)"
                        (loadMoreItems)="loadMoreItems($event)" class="list-group">
                        <template let-item="item" let-odd="odd" let-even="even">
                            <StackLayout [class.white]="odd" [class.yellow]="even">
                                <Label [text]="item.email" class="list-group-item"></Label>
                            </StackLayout>
                        </template>
                    </ListView>
                </StackLayout>

        </StackLayout>


</RadSideDrawer>